@font-face {
	font-family: 'easycoreregular';
	src: url('/fonts/easycore-webfont.eot');
	src: url('/fonts/easycore-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/easycore-webfont.woff2') format('woff2'),
		url('/fonts/easycore-webfont.woff') format('woff'),
		url('/fonts/easycore-webfont.ttf') format('truetype'),
		url('/fonts/easycore-webfont.svg#easycoreregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
