$colorCombinations: (($smoky-blue black), ($blue black), ($purple black), ($azure black));

@function randomGradient() {
	$randomNumber: random(4);
	$combo: nth($colorCombinations, $randomNumber);
	@return $combo;
}

$slideCount: 40;

@for $slideNumber from 1 through $slideCount {
	$imageNumber: random(10) + 1;
	$image: "/images/"+$imageNumber+".jpg";
	$gradient: randomGradient();
	.slides > article:nth-child(39n+#{$slideNumber}):before {
		background-image: url($image);
		content: nth($gradient, 1);
	}
	.slides > article:nth-child(39n+#{$slideNumber}):after {
		background-image: linear-gradient(#{random(360)}deg, nth($gradient, 2) 0%, nth($gradient, 1) 100%);
	}
}

