// Basic settings
@import "colors";
@import "fonts";
@import	"universal";
@import	"mixins";

$slide-width: 1920;
$slide-height: 1080;

.slides {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: #f21818;
	background: #222;
	position: absolute;
	article {
		display: block;
		position: absolute;
		overflow: hidden;
		width: #{$slide-width}px;
		height: #{$slide-height}px;

		// TODO: remove all this amd move to flex by default
		margin-left: -#{$slide-width / 2}px;
		margin-top: -#{$slide-height / 2}px;
		left: 50%;
		top: 50%;

		border-radius: 5px;
		padding: 0;
		background-color: none;
		transition: all 0.3s ease-out;
		justify-content: center;
		flex-direction: column;
		display: none;
		text-align: center;
		color: $pale-blue;
		font-size: 30px;
		letter-spacing: -1px;

		img {
			min-width: 0;
			display: block;
			margin: 0 auto;
		}
		& {
			padding: 50px;
		}
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
				filter: grayscale(100%) contrast(60%);
			background: url("/images/3.jpg");
			background-size: cover;
			top: 0;
			left: 0;
			z-index: -2;
		}
		&:after {
			z-index: -1;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.8;
		}
		&.plain:before,
		&.plain:after {
			display: none;
		}

		&.far-past {
			display: block;
			transform: translate(-4000px);
			display: none;
		}
		&.past {
			display: flex;
			transform: scale(0.5) translate(-1920px);
			opacity: 0.3;
		}
		&.current {
			display: flex;transform: translate(0);
			z-index: 10;
		}
		&.next {
			display: flex;
			transform: scale(0.5) translate(1920px);
			opacity: 0.3;
		}
		&.far-next {
			display: flex;
			transform: translate(4000px);
			display: none;
		}

		&.fill {
			iframe {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 0;
				margin: 0;
				border-radius: 10px;
				z-index: -1;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				min-width: 100%;
				min-height: 100%;
				border-radius: 10px;
				z-index: -1;
			}
		}
	}
}


.slide-area {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
	tap-highlight-color: transparent;
}
#next-slide-area {
	right: 0;
	left: auto;
}
.slides.layout-widescreen #prev-slide-area,
.slides.layout-faux-widescreen #prev-slide-area {
	margin-left: -650px;
}
.slides.layout-widescreen #next-slide-area,
.slides.layout-faux-widescreen #next-slide-area {
	margin-left: 500px;
}


::-moz-selection {
	background: #fd0;
}
::selection {
	background: #fd0;
}
p {
	margin: 0;
	padding: 0;
}
p:first-child {
	margin-top: 0;
}
.button:hover {
	color: #fff;
	background: #392c44;
}
p.small {
	color: #000;
	font-size: 18px;
}
article.fill h3 {
	background: rgba(255,255,255,0.75);
	padding-top: 0.2em;
	padding-bottom: 0.3em;
	margin-top: -0.2em;
	margin-left: -60px;
	padding-left: 60px;
	margin-right: -60px;
	padding-right: 60px;
}



.build > * {
	transition: opacity 0.2s ease-in-out 0.2s;
}
.to-build {
	opacity: 0;
}


.comparison {
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding-top: 48px;
	.left, .right {
		width: 50%;
		flex: 1 0 0px;
	}
}

img.wide {
	width: 100%;
	height: auto;
	max-height: none;
}
img.high {
	width: auto;
	height: 100%;
	max-height: 1200px;
}
.hl {
	color: #f5f5f5;
}
article.treats h1 {
	margin-bottom: 90px;
	font-size: 250px;
	color: #ff9d00;
}
.flex {
	display: flex !important;
}
.flex > * {
	flex: 1;
}
.flex > *:before {
	content: '';
}
.emoji {
	font-size: 116px;
	font-family: serif;
}
